
apiVersion: v1
kind: Service
metadata:
  name: articom-ai-core
  namespace: prod
spec:
  selector:
    app: articom-ai-core
  ports:
    - name: http
      protocol: TCP
      port: 3000
      targetPort: 3000
  type: ClusterIP

